div.image
{	
	@include transform( translateZ(0) );
	
	overflow: hidden;
	background-size: 100%;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	
	&.main {
		display: none;
	}

	@media all and (orientation:landscape) and (min-width: 470px) {
		&.main {
			display: block;
		}
		&.alternative {
			display: none;
		}
	}
	
	@media all and (min-width: $m) {
		&.main {
			display: block;
		}
		&.alternative {
			display: none;
		}
	}

	img {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		image-rendering: auto;
		-ms-interpolation-mode: bicubic;
	}

}