.page-container {
	width: 100%;
	float: left;
	display: block;
	@include opacity(0);
	@include transform( translateX(1em) );
	@include transition(
		transform $transition_time*4 $easing,
		opacity $transition_time $ease_out
	);
}

.page-container.hidden {
	display: none;
}

.page-container.visible {
	@include opacity(1);
	@include transform( translateX(0) );
	@include transition(
		transform $transition_time*4 $easing,
		opacity $transition_time*2 $ease_out
	);


}

.page-container.visible.fade-out {
	@include opacity(0);
	@include transform( translateX(-1em) );
	@include transition(
		transform $transition_time*4 $easing,
		opacity $transition_time $ease_out
	);
}