.page-container {
	width: 100%;
	float: left;
	display: block;
	position: absolute;
	z-index: 100;
	top:0;
	left:0;
	@include opacity(0);
	@include transform( translate3d(1em,0,0) );
	@include transition(
		transform $transition_time*6 $easing,
		opacity $transition_time*2 $ease_in
	);
}

.page-container.hidden {
	display: none;
}

.page-container.visible {
	@include opacity(1);
	@include transform( translate3d(0,0,0) );
	@include transition(
		transform $transition_time*6 $easing,
		opacity $transition_time*2 $ease_in
	);


}

.page-container.visible.fade-out {
	@include opacity(0);
	@include transform( translate3d(-1em,0,0) );
	@include transition(
		transform $transition_time*6 $easing,
		opacity $transition_time*2 $ease_out
	);
}