@font-face {
	font-family: 'Pressura';
	src: url('/fonts/pressura.eot');
	src: url('/fonts/pressura.eot?#iefix') format('embedded-opentype'),
		url('/fonts/pressura.woff') format('woff'),
		url('/fonts/pressura.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}