////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really
//  hold nothing except for imports of your base, layout, and design
//  partials, plus the mixins required to kickstart Aura and Style Guide.
////////////////////////

////////////////////////
// Base Import
////////////////////////
@import 'partials/base/base';

////////////////////////
// Import Layout
////////////////////////
@import 'partials/layout/layout';

////////////////////////
// Import Component Guide
////////////////////////
@import 'partials/component/component';

////////////////////////
// Import State Guide
////////////////////////
@import 'partials/state/state';
