main#page-work {
	
	section.next-prev-nav {
		
		margin: 2em 0 2em;
		
		@media all and (orientation:landscape) and (min-width: 470px) {
			margin: 3em 0 2em;
		}
		
		@media all and (min-width: $m) {
		margin: 3em 0 2em;
		}
		.item {
			margin: .75em 0;

			text-align: center;

/*
			@media all and (orientation:landscape) and (min-width: 470px) {
				width: col-width(6,12);
				
				&.prev-link {
					text-align: left;
				}
				&.next-link {
					text-align: right;
				}
			}
*/
			
			@media all and (min-width: $s) {
				width: col-width(6,12);
				
				&.prev-link {
					text-align: left;
				}
				&.next-link {
					text-align: right;
				}
			}

		}
		
		.prev-link {
			
			a {

				&:before {
					content: '←';
					display: block;
					position: absolute;
					left: -1em;
					top:0;
					
					@include transform( translate3d(0,-0.05em,0) );
					
					@include transition(
						transform $transition_time*4 $easing
					);
				}
				&:hover:before {
					@include transform( translate3d(-0.25em,-0.05em,0) );
				}
			}
		}
		
		.next-link {
			
			float: right;
			
			a {

				&:after {
					content: '→';
					display: block;
					position: absolute;
					right: -1em;
					top:0;
					
					@include transform( translate3d(0,-0.05em,0) );

					@include transition(
						transform $transition_time*4 $easing
					);
				}
				
				&:hover:after {
					@include transform( translate3d(-0.25em,-0.05em,0) );
				}
			}
		}
		
	}
}