footer {
	
	width: 100%;
	position: relative;
	float: left;
	z-index: 10;

	margin-top: 1.5em;
	margin-bottom: 5.5em;

	@media all and (min-width: $s) {
	}
	@media all and (orientation:landscape) {
		margin-bottom: 1.5em;
	}
	@media all and (min-width: $m) {
		margin-bottom: 1.5em;
	}
}

footer div.item.title {
	
	margin: 0;
	width: col-width(12,12);
	text-align: center;
	
	@media all and (orientation:landscape) {
		width: col-width(8,12);
		text-align: left;
	}
	@media all and (min-width: $m) {
		width: col-width(8,12);
		text-align: left;
	}
}
footer div.item.info {
	
	margin: 0;
	width: col-width(12,12);
	text-align: center;
	
	@media all and (orientation:landscape) {
		width: col-width(4,12);
		text-align: left;
	}
	@media all and (min-width: $m) {
		width: col-width(4,12);
		text-align: left;
	}
}