header {
	position: fixed;
	z-index: 1000;
	top:0;
	right:0;
	float: left;
	text-align: right;

	margin-top: 0;
	padding: 1.5em 1em 0 0;
	width: auto;

	//solves 1px jerkiness in chrome
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	@include opacity(1);

	@include transition(
		transform $transition_time*3 $easing,
		opacity $transition_time*1 $ease-in
	);

	@media all and (orientation:landscape) and (min-width: 470px) {
		padding: 1.5em 2em 0 0;
	}
	@media all and (min-width: $m) {
		padding: 1.5em 2em 0 0;
	}

	a {
		white-space: nowrap;
	}
}

#root.loaded header {

	pointer-events: auto;

	@include opacity(1);

	@include transform( translate3d(0,0,0) );

	@include transition(
		transform $transition_time*3 $easing,
		opacity $transition_time*1 $ease-in
	);


}

header,
#root.loaded header.hidden {

	pointer-events: none;

	@include transition(
		transform $transition_time*3 $easing,
		opacity $transition_time*1 $ease-out
	);

	@include transform( translate3d(1em,0,0) );
	@include opacity(0);

}

header span {
	display: inline-block;
}

header span.rest {
	overflow: hidden;
	width: 0;
}

header h1 a:hover span.rest {
	width: auto;
	max-width: 10em;
}
