main#page-work {
	
	//margin-top: 5.5em;

	@media all and (orientation:landscape) and (min-width: $sm) {
		margin-top: 5.5em;
	}
	@media all and (min-width: $m) {
		margin-top:  5.5em;
	}
	
	section {
		
		margin: 0;
		
		@media all and (orientation:landscape) and (min-width: $sm) {
			margin: 1em 0;
		}
		
		@media all and (min-width: $m) {
			margin: 1em 0;
		}
		
		.item {
		
			&.text {
				
				padding: 0;
				@media all and (min-width: $s) {
					padding: 0 1em;
				}
				
				@media all and (orientation:landscape) and (min-width: $sm) {
					padding: 0 2em;
				}
				@media all and (min-width: $m) {
					padding: 0 3em;
				}
				@media all and (min-width: $l) {
					padding: 0 4em;
				}
				@media all and (min-width: $xl) {
					padding: 0 4em;
				}
			}
		}
	}
}